@import "tailwindcss";

@theme {
  --color-primary-blue: #293462;
  --color-primary-navy: #0B1023;
  --color-primary-teal: #007981;
  --color-primary-cream: #F8F4EF;
  --color-secondary-purple: #5B29D9;
  --color-secondary-light-purple: #C5B3FF;
  --color-secondary-light-teal: #68EEEA;
  --color-neutral-white: #FFF;
  --color-neutral-light-gray: #DBDEE6;
  --color-neutral-gray: #A8ADB6;
  --color-neutral-medium-gray: #6A6C74;
  --color-neutral-dark-gray: #43454C;

  --font-sans: 'elza', sans-serif;

  --leading-100: 100%;
  --leading-110: 110%;
  --leading-120: 120%;
  --leading-130: 130%;
  --leading-135: 135%;
  --leading-140: 140%;
}

body {
  background: var(--color-neutral-white);
  color: var(--color-primary-navy);
  font-family: var(--font-sans);
}

@utility bg-custom-gradient {
  background: linear-gradient(270deg, #222f62 0%, #0b1023 100%);
}

@utility bg-gradient-podcast {
  background: linear-gradient(135deg, #FBEDE4 1.06%, #F6D5BB 100%);
}

.homepage-hero mux-player {
  /* Hide all controls at once */
  --controls: none;

  /* Hide the error dialog */
  --dialog: none;

  /* Hide the loading indicator */
  --loading-indicator: none;

  /* Target all sections by excluding the section prefix */
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;

  /* Target a specific section by prefixing the CSS var with (top|center|bottom) */
  --center-controls: none;
  --bottom-play-button: none;

  --media-object-fit: cover;
}