@import "tailwindcss";

@theme {
  --color-primary-blue: #293462;
  --color-primary-navy: #0B1023;
  --color-primary-teal: #007981;
  --color-primary-cream: #F8F4EF;
  --color-secondary-purple: #5B29D9;
  --color-secondary-light-purple: #C5B3FF;
  --color-secondary-light-teal: #68EEEA;
  --color-neutral-white: #FFF;
  --color-neutral-light-gray: #DBDEE6;
  --color-neutral-gray: #A8ADB6;
  --color-neutral-medium-gray: #6A6C74;
  --color-neutral-dark-gray: #43454C;

  --font-sans: 'elza', sans-serif;

  --leading-100: 100%;
  --leading-110: 110%;
  --leading-120: 120%;
  --leading-130: 130%;
  --leading-135: 135%;
  --leading-140: 140%;

  --tracking-08: 0.8px;
  --tracking-018: 0.18px;
  --tracking-013: 0.13px;
  --tracking-016: 0.16px;
  --tracking-02: 0.2px;
  --tracking-025: 0.25px;
  --tracking-031: -0.31px;
  --tracking-039: -0.39px;
  --tracking-049: -0.49px;
  --tracking-061: -0.61px;
  --tracking-065: 0.65px;
  --tracking-075: 0.75px;

  /* Custom breakpoints */
  --breakpoint-mb: 992px;
  --breakpoint-sxl: 1300px;
  --breakpoint-xl: 1450px;
}

body {
  background: var(--color-neutral-white);
  color: var(--color-primary-navy);
  font-family: var(--font-sans);
}

@utility bg-custom-gradient {
  background: linear-gradient(270deg, #222f62 0%, #0b1023 100%);
}

@utility bg-gradient-podcast {
  background: linear-gradient(135deg, #FBEDE4 1.06%, #F6D5BB 100%);
}

@utility bg-gradient-podcast-list {
  background: linear-gradient(135deg, #FBEDE4 1.06%, #F6D5BB 100%);
}

@utility bg-complex-hero-blue {
  background: linear-gradient(102deg, #000 -24.52%, #2B3F89 89.44%);
}

@utility bg-complex-hero-light-blue {
  background: linear-gradient(261deg, #8A9FF7 0%, #41519D 100%);
}

@utility bg-complex-hero-green {
  background: linear-gradient(260deg, #5FCED6 0%, #016269 100%);
}

@utility bg-complex-hero-purple {
  background: linear-gradient(261deg, #8A9FF7 0%, #41519D 100%);
}

@utility bg-guide-card {
  background: var(--Linear, linear-gradient(115deg, #546AC8 10.83%, #293462 89.12%));
}

@utility bg-guide-green-card {
  background: var(--Green-Gradient, linear-gradient(114deg, #07929B 11.25%, #056167 87.96%));
}

@utility bg-guide-yellow-card {
  background: var(--Yellow-Gradient, linear-gradient(115deg, #E2B400 11%, #A07E00 88%));

}

@utility bg-guide-orange-card {
  background: var(--Orange-Gradient, linear-gradient(115deg, #FF8C42 11%, #D94F00 88%));
}

@utility bg-basic-page {
  background: linear-gradient(180deg,
      #F0EBFF 0%,
      #F0EBFF 50%,
      rgba(248, 244, 239, 0.00) 90%,
      #F8F4EF 100%);
}

@utility bg-white-page {
  background: linear-gradient(180deg, rgba(248, 244, 239, 0.00) 0%, #F8F4EF 30%);
}

@utility bg-basic-hero-blue {
  background: linear-gradient(261deg, #546AC8 0%, #293462 100%);
}

@utility testing {
  /* opacity: 0.35; */
  background: radial-gradient(0% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%), url("https://www.datocms-assets.com/160835/1749477555-photo-1.png") lightgray 30% / cover no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: hard-light;
}

@utility bg-landing-page {
  background: linear-gradient(19deg, #2B3F89 25.9%, #000 86.74%);
}

@utility bg-landing-page-orange {
  background: linear-gradient(180deg, #FFDECB 0%, #FFF 100%);
}

@utility bg-landing-stats {
  background: linear-gradient(132deg, #A68FF4 -56.72%, #2E3F85 83.57%);
}

.homepage-hero mux-player {
  /* Hide all controls at once */
  --controls: none;

  /* Hide the error dialog */
  --dialog: none;

  /* Hide the loading indicator */
  --loading-indicator: none;

  /* Target all sections by excluding the section prefix */
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;

  /* Target a specific section by prefixing the CSS var with (top|center|bottom) */
  --center-controls: none;
  --bottom-play-button: none;

  --media-object-fit: cover;
}

/* Substack input widget */
.supascribe-widget.custom-substack-widget+.success {
  color: var(--color-primary-navy);
  font-size: .9rem;
}

.custom-substack-widget {
  margin-top: 0 !important;
  max-width: 515px !important;
}

/* Substack widget */
.supascribe-widget {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 2rem;
  max-width: 100%;
}

.supascribe-widget a:nth-child(-n+3) {
  width: calc((100% - 48px) / 3);
  flex-direction: column;
  gap: 0;
  padding: 0;
}

.supascribe-widget a:nth-child(-n+3)>div:nth-child(1) {
  width: 100%;
  height: 260px;
  border-radius: unset;
}

.supascribe-widget a:nth-child(-n+3)>div:nth-child(2) {
  padding: 30px 10px;
  flex-direction: column-reverse;
  flex: initial;
  gap: 10px;
}

.supascribe-widget a:nth-child(-n+3)>div:nth-child(2)>div:nth-child(2) {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  color: var(--CHT-2---Blue, #293462);
}

.supascribe-widget a:nth-child(-n+3)>div:nth-child(2)>div:nth-child(1) {
  gap: 10px;
}

.supascribe-widget a:nth-child(-n+3)>div:nth-child(2)>div:nth-child(1) div {
  color: var(--CHT-2---Teal, #007981);
  font-family: Elza;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.supascribe-widget a:nth-child(-n+3)>div:nth-child(2)>div:nth-child(1) p {
  color: var(--CHT-2---Navy, #0B1023);
  font-family: Elza;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.supascribe-widget a:nth-child(4) {
  margin-top: 4rem !important;
}

.supascribe-widget a:nth-child(n+4) {
  max-width: 980px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  flex-direction: row;
  gap: 25px;
}

.supascribe-widget a:nth-child(n+4)>div:nth-child(1) {
  width: 300px;
  height: auto;
  aspect-ratio: 3 / 2;
  border-radius: unset;
}

.supascribe-widget a:nth-child(n+4)>div:nth-child(2) {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.supascribe-widget a:nth-child(n+4)>div:nth-child(2)>div:nth-child(2) {
  color: var(--CHT-2---Blue, #293462);
  font-family: Elza;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

.supascribe-widget a:nth-child(n+4)>div:nth-child(2)>div:nth-child(1)>div:nth-child(1) {
  color: var(--CHT-2---Teal, #007981);
  font-family: Elza;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 10px;
}

.supascribe-widget a:nth-child(n+4)>div:nth-child(2)>div:nth-child(1) p {
  color: var(--CHT-2---Navy, #0B1023);
  font-family: Elza;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

/* Animations */
@keyframes rotate-counterclockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.inner-ring {
  animation: rotate-counterclockwise 20s linear infinite;
  transform-origin: 233.5px 233.5px;
}

/* test */
@keyframes approach-rotate-clockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes approach-rotate-counterclockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.approach-outer-ring {
  animation: approach-rotate-clockwise 20s linear infinite;
  transform-origin: 149.5px 149.5px;
}

.approach-inner-ring {
  animation: approach-rotate-counterclockwise 15s linear infinite;
  transform-origin: 149.5px 149.5px;
}

.approach-semicircles {
  animation: pulse 8s ease-in-out infinite;
  transform-origin: 149.5px 149.5px;
}

.approach-text-top,
.approach-text-bottom {
  animation: none;
}

hr {
  color: #A8ADB6;
  margin: 60px 2rem;
}

@media screen and (max-width: 992px) {
  hr {
    margin: 30px 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.paragraph:has(+ .generic-cards-grid) {
  margin-bottom: 150px;
}

.paragraph:has(+ .generic-cards-grid.four-columns) {
  margin-bottom: 0px;
}

@media screen and (max-width: 992px) {
  .paragraph:has(+ .generic-cards-grid) {
    margin-bottom: 60px;
  }
}

.key-template-layout>.heading:first-child,
.content-layout>.heading:first-child {
  margin-top: 0;
}

.logos-swiper {
  padding: 10px 0;
}

.logos-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Opcional: Ocultar scrollbar si aparece */
.logos-swiper .swiper-wrapper {
  align-items: center;
}

/* Podcast links from migration */
.structured-content h5 {
  margin-bottom: 1rem;
}

.structured-content h5:has(+p) {
  margin-bottom: 0;
}

.structured-content h5:has(+p)+p {
  margin-bottom: 1rem;
}

.structured-content p a {
  font-size: inherit;
  color: inherit;
}

.structured-content p {
  margin-bottom: 1rem;
}

.structured-content p,
.structured-content p strong {
  color: var(--color-primary-navy);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.structured-content a {
  color: theme("colors.primary.teal");
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  text-decoration: underline;
  transition-timing-function: cubic-bezier(.4, 0, 1, 1);
  transition-duration: .2s;
  transition-property: all;
}

.structured-content a:hover {
  color: var(--color-primary-navy);
}

.structured-content a em {
  font-style: normal;
}

.structured-content a em strong,
.structured-content a strong {
  font-weight: 500;
}

/* Media queries para mobile */
@media (max-width: 992px) {
  .structured-content a {
    font-size: 18px;
    line-height: 130%;
  }
}

/* Videos decoration */
.tablet-videos {
  display: none;
}

@media screen and (max-width: 1840px) {
  .homepage-videos-decoration {
    right: -150px;
    gap: calc(0.25rem * 3);
  }
}

@media screen and (max-width: 1690px) {
  .homepage-videos-decoration {
    right: -110px;
  }
}

@media screen and (max-width: 1600px) {
  .homepage-videos-decoration {
    right: -70px;
  }

  .raw-video-player {
    width: 230px;
  }
}

@media screen and (max-width: 1520px) {
  .homepage-videos-decoration {
    right: 20px;
  }

  .raw-video-player {
    width: 200px;
    height: 400px;
  }
}

@media screen and (max-width: 1320px) {
  .homepage-hero {
    height: 80dvh;
    background-image: none;
  }

  .homepage-grid {
    padding-top: 4rem;
  }

  .desktop-videos {
    display: none;
  }

  .tablet-videos {
    display: block;
  }

  .tablet-videos-child {
    height: 70dvh;
    overflow: hidden;
  }

  .raw-video-player {
    height: 300px;
  }

  .homepage-grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .homepage-title {
    font-size: 39px;
    margin-bottom: 20px;
  }

  .homepage-introduction {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .homepage-videos-decoration {
    display: flex;
    gap: 2rem;
    position: unset;
  }

  .raw-video-player {
    top: 0;
  }
}

@media screen and (max-width: 1100px) and (min-width: 830px) {
  .homepage-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 830px) and (min-width: 767px) {
  .homepage-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .tablet-videos-child-wrapper {
    grid-template-columns: 1fr;
  }

  .homepage-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .homepage-hero {
    height: 100%;
  }

  .homepage-grid {
    height: 100%;
    grid-template-columns: 1fr;
  }

  .tablet-videos-child-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .homepage-grid-parent {
    align-items: center;
  }

  .homepage-grid {
    padding-top: 0;
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-33.333%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-33.333%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up linear infinite;
}

.animate-scroll-down {
  animation: scroll-down linear infinite;
}

/* Grid */
@media screen and (max-width: 992px) and (min-width: 570px) {
  .circle-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "item1 item2"
      "item3 item2";
    align-items: flex-start;
    gap: 0;
  }

  .circle-grid-item-1 {
    grid-area: item1;
  }

  .circle-grid-item-2 {
    grid-area: item2;
  }

  .circle-grid-item-3 {
    grid-area: item3;
  }
}

@media screen and (max-width: 992px) and (min-width: 630px) {
  .circle-grid-approach {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "item1 item2";
    align-items: flex-start;
    gap: 2rem;
  }

  .circle-grid-approach-item-1 {
    grid-area: item1;
  }

  .circle-grid-approach-item-2 {
    grid-area: item2;
  }
}

@media screen and (max-width: 630px) {
  .circle-grid-approach {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 630px) and (min-width: 450px) {
  .circle-grid-approach-item-1 {
    width: 60%;
  }
}